<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="La_Sandwicheria.Datos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <La_Sandwicheria.Datos.Properties.Settings>
            <setting name="La_Sandwicheria_Datos_org_dyndns_ds_LoginService"
                serializeAs="String">
                <value>http://ds.dyndns.org:9000/AuthorizationService</value>
            </setting>
            <setting name="La_Sandwicheria_Datos_ar_gov_afip_wswhomo_Service"
                serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
        </La_Sandwicheria.Datos.Properties.Settings>
    </applicationSettings>
</configuration>