<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SGEAuthService" />
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ds.dyndns.org:9000/AuthorizationService"
                binding="basicHttpBinding" bindingConfiguration="SGEAuthService"
                contract="ServiceReferenceVicente.ILoginService" name="SGEAuthService" />
            <endpoint address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="ServiceReferenceAFIP.ServiceSoap" name="ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>